<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Admin Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="Henry" />

	<base href="/public" target="">
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="./assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="./assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="./assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="./assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="./assets/css/default/style.min.css" rel="stylesheet" />
	<link href="./assets/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="./assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="./assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="./assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
    <link href="./assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="./assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="./assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		{{> dashboard-header}}
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		{{> dashboard-sidebar}}
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		{{{body}}}
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="./assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="./assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="./assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="./assets/crossbrowserjs/html5shiv.js"></script>
		<script src="./assets/crossbrowserjs/respond.min.js"></script>
		<script src="./assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="./assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="./assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="./assets/js/theme/default.min.js"></script>
	<script src="./assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js"></script>
    <script src="./assets/plugins/nvd3/build/nv.d3.js"></script>
    {{!-- <script src="./assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
    <script src="./assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script> --}}
    <script src="./assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
	{{!-- <script src="./assets/plugins/gritter/js/jquery.gritter.js"></script> --}}
	<script src="../assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="../assets/js/demo/ui-modal-notification.demo.min.js"></script>
	<script src="./assets/js/demo/dashboard-v2.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			DashboardV2.init();
			
			if (Cookies) {
    			if (!Cookies.get('theme-panel') && $(window).width() > 767) {
    				$('.theme-panel').addClass('active');
    			}
    		}
    		$('[data-click="theme-panel-expand"]').click(function() {
    			Cookies.set('theme-panel', 'active');
    		});
		});
	</script>

	
	<script>
		$(document).ready(function() {
			
			/*
			|Users
			!==============================================================! 
			*/
			const inputPercent = document.querySelector('.input-percent');
			const inputCapped = document.querySelector('.input-capped');
			
			const percentCharge = document.querySelectorAll('.percentCharge');
			const cappedCharge = document.querySelectorAll('.cappedCharge');

			const percentError = document.querySelector('.percent-error');
			const cappedError = document.querySelector('.capped-error');
			
			inputPercent.addEventListener('keyup', () => {
				percentValue = inputPercent.value;
				percentError.innerHTML = ''

				if(percentValue.length == 0) {
					percentError.innerHTML = `Field can't be empty, input a number`
				}
				else if(!isNaN(percentValue)) {
					percentCharge[0].innerHTML = percentValue
					percentCharge[1].innerHTML = percentValue
				} else {
					percentError.innerHTML = 'Please enter a valid number'
				}
			})

			inputCapped.addEventListener('keyup', () => {
				cappedValue = inputCapped.value;
				cappedError.innerHTML = ''
				
				if(cappedValue.length == 0) {
					cappedError.innerHTML = `Field can't be empty, input a number`
				}
				else if(!isNaN(cappedValue)) {
					cappedCharge[0].innerHTML = cappedValue
					cappedCharge[1].innerHTML = cappedValue
				} else {
					cappedError.innerHTML = 'Please enter a valid number'
				}
			})

			/*
			|Agents
			!==============================================================! 
			*/
			const inputPercentAgent = document.querySelector('.input-percent-agent');
			const inputCappedAgent = document.querySelector('.input-capped-agent');
			
			const percentChargeAgent = document.querySelector('.percentChargeOnAgent');
			const cappedChargeAgent = document.querySelector('.cappedChargeOnAgent');

			const percentErrorAgent = document.querySelector('.percent-error-agent');
			const cappedErrorAgent = document.querySelector('.capped-error-agent');
			
			
			inputPercentAgent.addEventListener('keyup', () => {
				percentValueAgent = inputPercentAgent.value;
				percentErrorAgent.innerHTML = ''

				
				if(percentValueAgent.length == 0) {
					percentErrorAgent.innerHTML = `Field can't be empty, input a number`
				}
				else if(!isNaN(percentValueAgent)) {
					percentChargeAgent.innerHTML = percentValueAgent
				} else {
					percentErrorAgent.innerHTML = 'Please enter a valid number'
				}
			})

			inputCappedAgent.addEventListener('keyup', () => {
				cappedValueAgent = inputCappedAgent.value;
				cappedErrorAgent.innerHTML = ''
				
				if(cappedValueAgent.length == 0) {
					cappedErrorAgent.innerHTML = `Field can't be empty, input a number`
				}
				else if(!isNaN(cappedValueAgent)) {
					cappedChargeAgent.innerHTML = cappedValueAgent
				} else {
					cappedErrorAgent.innerHTML = 'Please enter a valid number'
				}
			})
			

		});
	</script>
	
</body>
</html>

