        <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
				<li class="breadcrumb-item active">Dashboard v2</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Admin Dashboard</small></h1>{{admin.firstname}}
			<!-- end page-header -->
			

			<div class="row">
				
			</div>
			
			<!-- begin row -->
			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
						<div class="panel-heading ui-sortable-handle">
							
							<h4 class="panel-title">Create Account</h4>
						</div>
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            {{> flash}}
                            <form action="" method="POST">
                                <fieldset>
                                    {{!-- <legend class="m-b-15">Legend</legend> --}}
                                    <div class="form-group">
                                        <label for="exampleInputFirstName">First Name</label>
                                        <input type="text" name="firstname" class="form-control" id="exampleInputFirstName" placeholder="Enter Firstname"  required />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFirstName">Family Name</label>
                                        <input type="text" name="lastname" class="form-control" id="exampleInputFamilyName" placeholder="Enter Family Name"  required />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mobile Number</label>
                                        <input type="tel" name="mobile" class="form-control" id="exampleInputMobile" placeholder="Enter Mobile" minlength="11" maxlength="11" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"  required />
                                    </div>
                                    <div class="form-group">
                                        <label for="accountType">Choose Account Type</label>
                                        <select name="account_type" class="form-control" required >
											<option value="">Select Type</option>
                                            {{#if mainAdmin}}
											<option value="Manager">Manager</option>
                                            {{/if}}
											<option value="Agent">Agent</option>
											<option value="User">User</option>
										</select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Default Password</label>
                                        <input type="text" name="password" class="form-control disabled" id="exampleInputPassword1" value="123456" placeholder="Password, Defaults to 123456" readonly />
                                    </div>
									<div class="checkbox checkbox-css m-b-20">
										<input type="checkbox" id="nf_checkbox_css_1" />
										<label for="nf_checkbox_css_1">I acknowledge this action</label>
									</div>
                                    <button type="submit" class="btn btn-lg btn-block btn-primary m-r-5">Creat Account</button>
                                    {{!-- <button type="submit" class="btn btn-sm btn-default">Cancel</button> --}}
                                </fieldset>
                            </form>
                        </div>
                        <!-- end panel-body -->
						<div class="hljs-wrapper">
						
						</div>
					</div>
				</div>
			    <!-- begin col-4 -->
			    <div class="col-lg-6">
			        <!-- begin panel -->
			        <div class="panel panel-inverse" data-sortable-id="index-4">
			            <div class="panel-heading">
			                <h4 class="panel-title">Accounts you created 
								<span class="pull-right label bg-gradient-teal">24 total</span>
							</h4>
			            </div>
                        <ul class="registered-users-list clearfix">
							{{#each usersData }}
								<li>
									<a href="javascript:;"><img src="./assets/img/user/user-12.jpg" alt="" /></a>
									<h4 class="username text-ellipsis">
										{{ this.firstname }}
										<small>{{ this.mobile }}</small>
										{{!-- <a href="javascript:;" class="btn btn-default btn-sm btn-block">View</a> --}}
										{{!-- <small>{{this.wallets.[0].ballance}}</small> --}}
									</h4>
								</li>
							{{/each}}
                        </ul>
			            <div class="panel-footer text-center">
			                <a href="javascript:;" class="text-inverse">View All</a>
			            </div>
			        </div>
			        <!-- end panel -->
			    </div>
			    <!-- end col-4 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		